<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Practice">
  <test name="Login Test With parameters">
  <parameter name = "text" value = "asdf"></parameter>
      <classes>
      <class name="TestNG_Important.DataProvider"/>
      </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite -->






